.oneAxis,
.twoAxis,
.threeAxis,
.multipleAxis {
    width: var(--usableFullWidth);
    min-height: var(--usableFullHeight);
    background-color: grey; //temp
}
.tempDiv {
    padding: 1rem;
    background-color: lightblue;
}
