@use "../mixins.scss";

.controlPanel {
    max-width: 20vw;
    box-sizing: border-box;
    padding: 0.5rem;
    .controlPanelInputs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        .axisInput {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }
        h4 {
            padding-left: 0.5rem;
        }
        input {
            @include mixins.input1;
        }
    }
}
