.mainContainer {
    width: 100%;
    height: var(--usableFullHeight);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    .mainRender {
        width: 100%;
        height: 100%;
    }
}
