@use "../mixins.scss";

.optionsTab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0 0.5rem;
    h3,
    h4 {
        color: var(--darkText);
    }
    input {
        width: 50%;
    }
    .controlSpeedValue {
        padding-left: 25%;
    }
}
