@use "../mixins.scss";

.optionsTab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 0.5rem;
    input {
        @include mixins.input1;
    }
    h4 {
        color: var(--darkText);
    }
}
