.oneAxis,
.multipleAxis,
.robotArm3dof {
    width: var(--usableFullWidth);
    min-height: var(--usableFullHeight);
    display: flex;
    flex-direction: row;
    .mainRender {
        width: 70%;
    }
    .controlPanel {
        max-width: 30%;
        box-sizing: border-box;
        padding: 1rem;
    }
}
