@use "../mixinsAnimations.scss";

.renderMenu {
    height: calc(var(--usableFullHeight) - 0.5rem);
    min-width: 20rem;
    margin-bottom: 0.5rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: absolute;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 1px solid;
    border-image: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--darkBorder) 10%, var(--darkBorder) 90%, rgba(255, 0, 0, 0) 100%)
        1 100%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    animation: showUp 0.5s;
    overflow: hidden;
    @include mixinsAnimations.showUp;
}
