@use "../mixins.scss";

.visualsTab {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    gap: 1rem;
    button {
        @include mixins.button1;
        min-width: 4rem;
    }
    .referenceColors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        .axis {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
    .otherElements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
