@mixin icon {
    color: var(--darkPrimary);
    transition: 0.2s;
    width: calc(var(--navbarHeight) * 0.8);
    max-height: calc(var(--navbarHeight) * 0.8);
    &:hover {
        cursor: pointer;
        color: var(--darkHover);
    }
}
@mixin input1 {
    background-color: var(--darkSecondary);
    border: 0.1rem solid var(--darkPrimaryLighter);
    border-radius: 0.5rem;
    padding: 0.3rem 0.3rem;
    font-size: 1rem;
    color: var(--darkText);
    max-width: 10rem;
}
@mixin button1 {
    background-color: var(--darkSecondary);
    border: 0.1rem solid var(--darkPrimaryLighter);
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    color: var(--darkText);
    &:hover {
        cursor: pointer;
        color: var(--darkHover);
    }
}
@mixin standardFormatting {
    background-color: var(--darkSecondary);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
}
@mixin tab {
    background-color: var(--darkSecondary);
    border: 0.1rem solid var(--darkPrimaryLighter);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    color: var(--darkText);
    white-space: nowrap;
    &:hover {
        cursor: pointer;
        background-color: var(--darkSecondaryLighter);
    }
}
@mixin customScrollbar {
    &::-webkit-scrollbar {
        height: 0.5rem;
        width: 0.5rem;
        background-color: rgb(39, 39, 39);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--darkPrimary);
    }
}
