@mixin icon {
    color: var(--darkPrimary);
    transition: 0.2s;
    width: calc(var(--navbarHeight) * 0.8);
    max-height: calc(var(--navbarHeight) * 0.8);
    &:hover {
        cursor: pointer;
        color: var(--darkHover);
    }
}

@mixin input1 {
    background-color: var(--darkSecondary);
    border: 0.1rem solid var(--darkPrimary);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    color: var(--darkText);
}
