@mixin icon {
    color: var(--textCurrent);
    transition: 0.2s;
    width: calc(var(--navbarHeight) * 0.8);
    &:hover {
        cursor: pointer;
        color: var(--primaryColor);
    }
}

@mixin input1 {
    background-color: var(--secondaryColor);
    border: 2px solid var(--primaryColor);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    
}
