* {
    // darkmode colors
    --darkText: rgb(225, 225, 225);
    --darkBackground: rgb(53, 53, 53);
    --darkPrimary: rgb(77, 70, 206);
    --darkPrimaryLighter: rgb(110, 104, 233);
    --darkPrimaryDarker: rgb(65, 60, 148);
    --darkHover: rgb(149, 144, 236);
    --darkSecondary: rgb(63, 61, 86);
    --darkSecondaryLighter: rgb(89, 85, 128);
    --darkBorder: rgb(110, 110, 110);
    --darkGreyBackground: rgb(65, 64, 64);

    // others values
    --paddingOnSides: 2rem;
    --paddingTopBottom: 1rem;
    --navbarHeight: 3rem;
    --usableFullHeight: calc(100vh - var(--navbarHeight));
    --usableFullHeightWithPadding: calc(100vh - var(--navbarHeight) - (2 * var(--paddingTopBottom)));
    --usableFullWidthWithPadding: calc(100vw - (var(--paddingOnSides) * 2));
}
